@import "../variables/var";

.dropdown-container {
    position: relative;
    cursor: pointer;

    &.isHover {
        display: inline-block;
    }

    ._body {
        position: absolute;
        z-index: -1;
        border: 1px solid $color-border;
        margin-top: 1px;
        background: #fff;
        opacity: 0;
    }

    &.top {
        ._body {
            margin-top: 0;
            margin-bottom: 2px;
            bottom: 100%
        }
    }

    &.stick-right {
        ._body {
            right: 0
        }
    }

    &._active {
        ._body {
            opacity: 1;
            z-index: 15;
        }
    }
}

