.base-page {
    position: relative;

    ._header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 15px;
    }
}

.page-title {
    font-size: 1.6em;
    font-weight: 500;
    /*font-size: 1.3em;*/
    /*height: 48px;*/
    /*align-items: center;*/
    /*display: flex;*/
    /*margin: 0;*/
}

.base-page-content {
    /*padding: 20px;*/
    /*border-top: 1px solid #ddd;*/
}

.base-page-buttons {
    //position: absolute;
    //right: 20px;
    //top: 0px;
}

.base-page-buttons > button {
    margin-right: 7px;
}
