@import "../variables/var";

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    padding: 0;

    ._inner {
        padding: $padding-btn-vertical-md 0.8rem;
        min-height: 30px;
        align-items: center;
        display: flex;
    }

    ._children {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
    }
}

.btn-primary {
    color: #fff;
    background-color: $color-primary;

    &:hover {
        background-color: $color-primary-hover;
    }

    &.outline {
        color: $color-primary;
        border-color: $color-primary;
        background-color: transparent;

        &:hover {

        }
    }
}

.btn-secondary {
    color: #fff;
    background-color: $color-secondary;

    &:hover {
        background-color: $color-secondary-hover;
    }
}

.btn-danger {
    color: #fff;
    background-color: $color-danger;

    &:hover {
        background-color: $color-danger-hover;
    }
}
