@import "../variables/var";

.dropdown-container {
    position: relative;

    &.isHover {
        display: inline-block;
    }

    ._body {
        position: absolute;
        z-index: 15;
        border: 1px solid $color-border;
        margin-top: 1px;
        background: #fff;
    }
}

.toggle-container {
    cursor: text;

    &._active {
        outline: -webkit-focus-ring-color auto 1px;
    }
}

