@import "../variables/var";

.form-container {

}

._input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: $padding-input-vertical-md 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $color-border;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select-container {
    ._options {
        margin-top: 2px;

        > ._item {
            padding: 10px;
            cursor: pointer;
        }
    }
}

.select-input {
    cursor: inherit;
    padding-bottom: $padding-input-vertical-md - 0.1;
}
