@import "./variables/var";

body {
    font-family: sans-serif, "Microsoft YaHei";
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-primary-highlight {
    background-color: $color-primary-highlight;
}

.bg-secondary {
    background-color: $color-secondary;
}

.bg-secondary-highlight {
    background-color: $color-secondary-highlight;
}

.bg-danger {
    background-color: $color-danger;
}

.bg-danger-highlight {
    background-color: $color-danger-highlight;
}

.margin-bottom {
    margin-bottom: $margin-md;
}

img {
    max-width: 100%;
}
