@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('//at.alicdn.com/t/font_3337660_7jb0sxtss0s.css');
@import "./variables/var";

body {
    font-family: "Inter", sans-serif, "Microsoft YaHei";
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-primary-highlight {
    background-color: $color-primary-highlight;
}

.bg-secondary {
    background-color: $color-secondary;
}

.bg-secondary-highlight {
    background-color: $color-secondary-highlight;
}

.bg-danger {
    background-color: $color-danger;
}

.bg-danger-highlight {
    background-color: $color-danger-highlight;
}

img {
    max-width: 100%;
}

.margin-bottom {
    margin-bottom: $margin-md;
}

.padding-vertical {
    padding-top: $padding-section;
    padding-bottom: $padding-section;
}
