// Color
$color-border: #dedede;

$color-primary: #3361ff;
$color-primary-highlight: #577cfc;
$color-primary-border: #0d6efd;
$color-primary-hover: #2d59f1;

$color-secondary: #6c757d;
$color-secondary-highlight: #989fa6;
$color-secondary-hover: #656c75;

$color-danger: #dc3545;
$color-danger-highlight: #ee4757;
$color-danger-hover: #ce303e;

$color-success: #28a745;
$color-success-hover: #1e7e34;

$color-warning: #ffc107;
$color-warning-hover: #e0a800;

// Color - Background
$color-bg: #6c757d;
$color-bg-placeholder: #eff2f5;

// Grid
$container-padding: 2rem;
$grid-padding: 0.5rem;

// Font Size
$fontSize-root: 14px;
$fontSize-h1: 1.2rem;

// Margin & Padding
$margin-md: 1rem;
$padding-section: 2rem;
$padding-input-vertical-md: 0.7rem;
$padding-btn-vertical-md: 0.6rem;
